*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  font-size: 62.5%;
  overflow-x: hidden; }

.header {
  min-height: 5rem;
  padding: .5rem;
  background: rgba(255, 255, 255, 0.93);
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  .header__one {
    flex: 1; }
  .header__two {
    color: #4972e3; }
  .header__logo {
    height: 2.5rem;
    margin-left: .5rem; }
  .header__navtoggle {
    font-size: 1.8rem;
    margin-right: .5rem; }

.navigation {
  font-size: 2rem; }
  .navigation__list {
    display: flex; }
  .navigation__item {
    text-decoration: none;
    color: inherit;
    padding: 0 4px;
    background: linear-gradient(to bottom, transparent 60%, rgba(36, 153, 220, 0.2) 60%);
    font-family: 'Nanum Pen Script', cursive;
    line-height: 1.2; }

.container {
  max-width: 70rem;
  margin: 0 auto; }

.carousel-section {
  margin-top: 5rem;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.45)), url(./dots-light.jpg);
  background-position: center;
  background-size: cover; }

.carousel-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eee;
  max-width: 70rem;
  margin: auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.24); }

.carousel-img--1 {
  background-image: url(./blueberry_lover.jpg); }

.carousel-img--2 {
  background-image: url(./choco-mocha.jpg); }

.carousel-img--3 {
  background-image: url(./choco_cream-cropped.jpg); }

.glide {
  max-width: 70rem;
  margin: auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.24); }

.section {
  padding: 3rem 2rem; }

.section-heading {
  font-family: 'Lobster', cursive;
  text-align: center;
  transform: rotate(-3deg); }

.briefing-section__heading {
  color: #777; }

.briefing-section__text {
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 2rem; }

.briefing-section__btn {
  border: 3px solid #274869;
  color: #274869;
  transition: all .3s; }
  .briefing-section__btn:hover {
    background: #274869;
    color: #fff; }

.emph-text {
  background: linear-gradient(to bottom, transparent 60%, rgba(36, 153, 220, 0.2) 60%);
  vertical-align: baseline; }

.location-section {
  background: #274869;
  padding: 2rem; }
  .location-section__heading {
    color: #fff; }
  .location-section__content {
    margin-top: 3rem; }
  .location-section__map-container {
    position: relative; }
  .location-section__details {
    border: .5rem solid #3191cc;
    background: #fff;
    height: 100%;
    text-align: center;
    padding: 1rem;
    font-family: 'Roboto', sans-serif; }
  .location-section__details-heading {
    font-size: 1.5rem;
    color: #274869;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5rem; }
  .location-section__address {
    font-size: 1.2rem;
    margin: 1rem; }
    .location-section__address p {
      line-height: 1.4; }
  .location-section__hours {
    margin-top: .5rem; }

.link-btn {
  display: block;
  width: 17rem;
  text-align: center;
  margin: 2rem auto;
  padding: .8rem 1rem;
  background: transparent;
  font-family: 'Lobster', cursive;
  text-decoration: none; }

#map {
  border: .5rem solid #3191cc;
  width: 100%;
  background: #eee; }

.pin {
  width: 4rem;
  position: absolute;
  right: -2.5rem;
  top: -2.5rem; }

.menu-main-heading {
  background: #274869;
  margin-top: 5rem;
  color: #fff;
  font-family: 'Lobster', 'cursive';
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0; }

.menu-cat {
  margin-top: 2rem; }
  .menu-cat__heading {
    font-size: 1.8rem;
    font-family: 'Lobster', 'cursive';
    color: #777; }
  .menu-cat__menu-items {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap; }

.menu-item {
  width: 10rem;
  border: 1px solid #ccc;
  margin: 0 1rem 1rem 0; }
  .menu-item__img-container {
    width: 10rem;
    height: 10rem; }
  .menu-item__img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: center; }
  .menu-item__name {
    padding: .5rem;
    font-size: 1.2rem; }

@media (max-width: 550px) {
  .navigation {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 0;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s width;
    overflow: hidden;
    white-space: nowrap; }
    .navigation__list {
      display: flex;
      align-items: center;
      flex-direction: column; }
    .navigation__item {
      margin-bottom: 2rem;
      font-size: 3rem; }
    .navigation__close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: #f00; }
  .navigation.show {
    width: 100%; }
  .carousel-img {
    height: 70vh; }
  .section-heading {
    font-size: 2.1rem; }
  .briefing-section {
    font-size: 1.5rem; }
  .emph-text {
    font-size: 1.7rem; }
  #map {
    height: 20rem; }
  .location-section__details {
    margin-top: 2rem; }
  .location-section__address {
    font-size: 1.2rem; }
  .location-section__hours {
    font-size: 1rem; } }

@media (min-width: 551px) {
  .header__navtoggle {
    display: none; }
  .navigation__item {
    margin: 0 .5rem; }
  .navigation__close-btn {
    display: none; }
  .carousel-img {
    height: 35rem; }
  .section-heading {
    font-size: 3rem; }
  .briefing-section {
    font-size: 2rem; }
  .emph-text {
    font-size: 2.2rem; }
  #map {
    height: 30rem; }
  .location-section__address {
    font-size: 1.6rem; }
  .location-section__hours {
    font-size: 1.38rem; } }

@media (min-width: 1000px) {
  .location-section__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem; } }
